<div class="main-container">
    <section class="about-us-section">
        <div class="container">
        <div class="row">
            <div class="col-md-6">
            <h2 class="section-title">About Us</h2>
            <p class="section-description">
                Hello!
                 My name is Ismael Herrera Ramírez, and I am a final year student of the Computer Engineering - Software Engineering degree at E.T.S.I.I. belonging to the University of Seville. I am currently carrying out my final degree project (TFG) called NeutralData, under the tutelage of Professor Jose Antonio Parejo Maestre.
            </p>
            <p class="section-description">
                My main motivation, beyond meeting academic requirements, has been to contribute to the creation of an application that can be really useful to someone. If you are reading this, it means that at least one person will be able to try the app and I firmly believe that they will notice my effort. I just have to thank you for taking the time to read this text and try the application, I hope it is useful to you!
            </p>
            <p class="section-description">
                Greetings, Ismael Herrera Ramírez.
            </p>
            <div class="social-icons">
                <a href="https://www.linkedin.com/in/ismael-herrera-ramirez/" target="_blank" class="linkedin-icon custom-link"><i class="fab fa-linkedin"></i> LinkedIn</a>
                <a href="https://github.com/IsmaelHerrera2000" target="_blank" class="github-icon custom-link"><i class="fab fa-github"></i> GitHub</a>
            </div>            
            </div>
            <div class="col-md-6">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3171.336740595912!2d-5.989684024285554!3d37.35820827209336!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd126dd4a3055555%3A0x29c3f634f8a021b8!2sEscuela%20T%C3%A9cnica%20Superior%20de%20Ingenier%C3%ADa%20Inform%C3%A1tica!5e0!3m2!1ses!2sfr!4v1713311980482!5m2!1ses!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        </div>
    </section>
</div>
  