<div class="main-container">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-6 gray-background">
          <h2 class="section-title">Uploading Local File</h2>
          <div class="instruction">
            <h3>Step 1: Navigate to the file upload view</h3>
            <p>You can access the view from this <a routerLink="/upload">link</a>.</p>
          </div>
          <div class="instruction">
            <h3>Step 2: Select a file</h3>
            <p>Choose one of your local files with a .csv or .xlsx extension.</p>
          </div>
          <div class="instruction">
            <h3>Step 3: Check that it is the file you want</h3>
            <p>The first 100 lines of the file will be previewed so that you can observe it and not make mistakes.</p>
          </div>
          <div class="instruction">
            <h3>Step 4: Choose the type of analysis</h3>
            <p>You can choose, parse the headers, analyze the columns or rows, check the profanity, enter your own terms or any set of these options.</p>
          </div>
          <div class="instruction">
            <h3>Step 5: Upload the query</h3>
            <p>Click on the upload button and then on the continue button.</p>
          </div>
          <div class="instruction">
            <h3>Step 6: Wait</h3>
            <p>The analysis will start, please keep in mind that large files require a lot of computing power, so it will take a while.</p>
          </div>
          <div class="instruction">
            <h3>Step 7: View the results</h3>
            <p>The analysis results will be displayed, you can take the time you need to review it.</p>
          </div>
          <div class="instruction">
            <h3>*Step 8: Customize Settings</h3>
            <p>Optionally, you can download the file with the same input format. This file is limited to one of the options as long as they are individual and not Profanity (if more options are mixed, it will not work correctly).</p>
          </div>
        </div>
        <div class="col-md-6 col-md-6 gray-background">
          <h2 class="section-title">Choose File GitHub Repository</h2>
          <div class="instruction">
            <h3>Step 1: Navigate to the github repositories view</h3>
            <p>You can access the view from this <a routerLink="/github">link</a>.</p>
          </div>
          <div class="instruction">
            <h3>Step 2: Enter your GitHub username</h3>
            <p>Please note that you will only be able to see your public repositories.</p>
          </div>
          <div class="instruction">
            <h3>Step 3: Choose a file</h3>
            <p>All .csv or .xlsx files hosted in your public github repositories will be displayed. Click on the file link to advance. Please note that you will not be able to view more than 25 files due to GitHub limitations</p>
          </div>
          <div class="instruction">
            <h3>Step 4: Check that it is the file you want</h3>
            <p>The first 100 lines of the file will be previewed so that you can observe it and not make mistakes.</p>
          </div>
          <div class="instruction">
            <h3>Step 5: Choose the type of analysis</h3>
            <p>You can choose, parse the headers, analyze the columns or rows, check the profanity, enter your own terms or any set of these options.</p>
          </div>
          <div class="instruction">
            <h3>Step 6: Upload the query</h3>
            <p>Click on the upload button and then on the continue button.</p>
          </div>
          <div class="instruction">
            <h3>Step 7: Wait</h3>
            <p>The analysis will start, please keep in mind that large files require a lot of computing power, so it will take a while.</p>
          </div>
          <div class="instruction">
            <h3>Step 8: View the results</h3>
            <p>The analysis results will be displayed, you can take the time you need to review it.</p>
          </div>
          <div class="instruction">
            <h3>*Step 9: Customize Settings</h3>
            <p>Optionally, you can download the file with the same input format. This file is limited to one of the options as long as they are individual and not Profanity (if more options are mixed, it will not work correctly).</p>
          </div>
        </div>
      </div>
    </div>
</div>