<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="margin:0 auto">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">NeutralData</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">How to use?</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Admin
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Manage users</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container" id="main-container" style="margin-top:50px">
<div class="row flex-lg-nowrap">
  <div class="col-12 col-lg-auto mb-3" style="width: 200px;">
    <div class="card p-3">
      <div class="e-navlist e-navlist--active-bg">
        <ul class="nav">
          <li class="nav-item"><a class="nav-link px-2 active" href="#"><i class="fa fa-fw fa-bar-chart mr-1"></i><span>Overview</span></a></li>
          <li class="nav-item"><a class="nav-link px-2" href="#" target="__blank"><i class="fa fa-fw fa-th mr-1"></i><span>CRUD</span></a></li>
          <li class="nav-item"><a class="nav-link px-2" href="#" target="__blank"><i class="fa fa-fw fa-cog mr-1"></i><span>Settings</span></a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="e-tabs mb-3 px-3">
      <ul class="nav nav-tabs">
        <li class="nav-item"><a class="nav-link active" href="#">Users</a></li>
      </ul>
    </div>

    <div class="row flex-lg-nowrap">
      <div class="col mb-3">
        <div class="e-panel card">
          <div class="card-body">
            <div class="e-table">
              <div class="table-responsive table-lg mt-3">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th class="align-top">
                        <div class="custom-control custom-control-inline custom-checkbox custom-control-nameless m-0">
                          <input type="checkbox" class="custom-control-input" id="all-items">
                          <label class="custom-control-label" for="all-items"></label>
                        </div>
                      </th>
                      <th class="max-width">Name</th>
                      <th class="sortable">Date</th>
                      <th>Status</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let user of users">
                      <td class="align-middle">
                        <div class="custom-control custom-control-inline custom-checkbox custom-control-nameless m-0 align-top">
                          <input type="checkbox" class="custom-control-input" id="item-{{user?.id}}">
                          <label class="custom-control-label" for="item-{{user?.id}}"></label>
                        </div>
                      </td>
                      <td class="text-nowrap align-middle">{{user?.username}}</td>
                      <td class="text-nowrap align-middle">{{user?.email}}</td>
                      <td class="text-nowrap align-middle"><span>{{user?.creationDate}}</span></td>
                      <td class="text-center align-middle">{{user?.enable}}</td>
                      <td class="text-center align-middle">
                        <div class="btn-group align-top">
                            <button class="btn btn-sm btn-outline-secondary " type="button" data-toggle="modal" (click)="onOpenModal(user,'edit')" data-target="#edit-user-form-modal">Edit</button>
                            <button class="btn btn-sm btn-outline-secondary " type="button" data-target="#delete-user-modal" (click)="onOpenModal(user,'delete')"><i class="fa fa-trash"></i></button>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="d-flex justify-content-center">
                <ul class="pagination mt-3 mb-0">
                  <li class="disabled page-item"><a href="#" class="page-link">‹</a></li>
                  <li class="active page-item"><a href="#" class="page-link">1</a></li>
                  <li class="page-item"><a href="#" class="page-link">2</a></li>
                  <li class="page-item"><a href="#" class="page-link">3</a></li>
                  <li class="page-item"><a href="#" class="page-link">4</a></li>
                  <li class="page-item"><a href="#" class="page-link">5</a></li>
                  <li class="page-item"><a href="#" class="page-link">›</a></li>
                  <li class="page-item"><a href="#" class="page-link">»</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-3 mb-3">
        <div class="card">
          <div class="card-body">
            <div class="text-center px-xl-3">
              <button class="btn btn-success btn-block" type="button" data-toggle="modal" data-target="#new-user-form-modal" (click)="onOpenModal(null, 'add')">New User</button>
            </div>
            <hr class="my-3">
            <div class="e-navlist e-navlist--active-bold">
              <ul class="nav">
                <li class="nav-item active"><a href="" class="nav-link"><span>All</span>&nbsp;<small>/&nbsp;32</small></a></li>
                <li class="nav-item"><a href="" class="nav-link"><span>Active</span>&nbsp;<small>/&nbsp;16</small></a></li>
                <li class="nav-item"><a href="" class="nav-link"><span>Selected</span>&nbsp;<small>/&nbsp;0</small></a></li>
              </ul>
            </div>
            <hr class="my-3">
            <div>
              <div class="form-group">
                <label>Date from - to:</label>
                <div>
                  <input id="dates-range" class="form-control flatpickr-input" placeholder="01 Dec 17 - 27 Jan 18" type="text" readonly="readonly">
                </div>
              </div>
              <div class="form-group">
                <label>Search by Name:</label>
                <div><input class="form-control w-100" type="text" placeholder="Name" value=""></div>
              </div>
            </div>
            <hr class="my-3">
            <div class="">
              <label>Status:</label>
              <div class="px-2">
                <div class="custom-control custom-radio">
                  <input type="radio" class="custom-control-input" name="user-status" id="users-status-disabled">
                  <label class="custom-control-label" for="users-status-disabled">Disabled</label>
                </div>
              </div>
              <div class="px-2">
                <div class="custom-control custom-radio">
                  <input type="radio" class="custom-control-input" name="user-status" id="users-status-active">
                  <label class="custom-control-label" for="users-status-active">Active</label>
                </div>
              </div>
              <div class="px-2">
                <div class="custom-control custom-radio">
                  <input type="radio" class="custom-control-input" name="user-status" id="users-status-any" checked="">
                  <label class="custom-control-label" for="users-status-any">Any</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>  
    <!--Create User Form Modal -->
    <div class="modal fade" role="dialog" tabindex="-1" id="new-user-form-modal">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Create User</h5>
            <button type="button" class="close" data-dismiss="modal">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="py-1">
              <form class="form" #addForm="ngForm" (ngSubmit)="onAddUser(addForm)">
                <div class="row">
                  <div class="row">  
                    <div class="row"><br></div>
                    <div class="form-group">
                      <label>Username</label>
                      <input class="form-control" type="text" ngModel name="username" placeholder="johnny.s" value="johnny.s">
                    </div>
                  </div>
                  <div class="row">
                    <div class="row"><br></div>
                    <div class="form-group">
                      <label>Email</label>
                      <input class="form-control" type="text" name="email" ngModel placeholder="user@example.com">
                    </div>
                    <div class="row"><br></div>
                    <div class="form-group">
                      <label>Password</label>
                      <input class="form-control" type="password" ngModel placeholder="••••••">
                    </div>
                  </div>
                </div>
                <div class="row"><br></div>
                <div class="row">
                  <div class="col d-flex justify-content-end">
                    <button class="btn btn-primary" [disabled]="addForm.invalid" id="add-user-form" type="submit">Add User</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Edit User Form Modal -->
    <div class="modal fade" role="dialog" tabindex="-1" id="edit-user-form-modal">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Edit User</h5>
            <button type="button" class="close" data-dismiss="modal">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="py-1">
              <form class="form" #editForm="ngForm">
                <div class="row">
                  <div class="row">  
                    <div class="row"><br></div>
                    <div class="form-group">
                      <label>Username</label>
                      <input class="form-control" type="text" ngModel="{{editUser?.username}}" name="username" placeholder="username" value="">
                    </div>
                  </div>
                  <input type="hidden" name="id" ngModel="{{editUser?.id}}" class="form-control" id="id" placeholder="Email">
                  <input type="hidden" name="creationDate" ngModel="{{editUser?.creationDate}}" class="form-control" id="creationDate" placeholder="creationDate">
                  <input type="hidden" name="enable" ngModel="{{editUser?.enable}}" class="form-control" id="enable" placeholder="enable">
                  <div class="row">
                    <div class="row"><br></div>
                    <div class="form-group">
                      <label>Email</label>
                      <input class="form-control" type="text" ngModel="{{editUser?.email}}" name="email"  placeholder="user@example.com">
                    </div>
                    <div class="row"><br></div>
                    <div class="form-group">
                      <label>Password</label>
                      <input class="form-control" type="text" ngModel="{{editUser?.password}}" name="password"  placeholder="••••••">
                    </div>
                  </div>
                </div>
                <div class="row"><br></div>
                <div class="row">
                  <div class="col d-flex justify-content-end">
                    <button class="btn btn-primary" (click)="onUpdateUser(editForm.value)" data-dismiss="modal" type="submit">Save Changes</button>
                  </div>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Delete User Modal -->
    <div class="modal fade" id="delete-user-modal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="deleteModelLabel">Delete Employee</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Are you sure you want to delete the user of {{deleteUser?.username}}?</p>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                  <button (click)="onDeleteUser(deleteUser.id)" class="btn btn-danger" data-dismiss="modal">Yes</button>
              </div>
            </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
